@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

 

<div class="areaRicerca modelloEsteso">
    
        <h2>@DizionarioService.Error_LabelError</h2>

</div>
          