@model VAPortale.Models.PagineVoceModel
@{
    ViewBag.Title = Model.VoceMenu.GetNome();
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
<div class="line_small_title">
    <h2>@Model.VoceMenu.GetNome()</h2>
</div>
<div class="clear"></div>


@Html.Raw(Model.PaginaStatica.GetTesto())

@{ Html.RenderAction("FormContatto", "Comunicazione", new { Tipo = "Cittadino" }); }
